*{
    font-family: Verdana, 'Geneva', Tahoma, sans-serif ;
}

#container{
    margin: 100px auto 50px auto;
}

h1, h2, h3, h4 {
    background-color: #577D86;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    border: 1px solid #D6A800;
    padding: 10px;
}

a:link {
    color: #569DAA;
    text-decoration: none;
}

a:hover {
    color: #B9EDDD;
}

a:visited {
    color: #87CBB9;
}
