

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin-top: 10%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: auto;
}

.grid-item {

    padding: 10px;
    margin: auto auto;
    text-align: center;
    grid-column: 1;
}

h1, h3, figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: .75em;
}

h1, h3, figcaption {
    color: rgba(119, 0, 0, 0.8);
}

#goBack {
    width: 100%;
    margin-top: 60%;
}

a:link {
    float: right;
    margin-bottom: 20px;
}

a:hover {
    text-decoration: underline;
}